
body {
    background-color: aquamarine;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
}

.input {
  margin-bottom: 20px;
}

.username {
  padding: 10px;
  width: 60%;
  margin-bottom: 10px;
}

.getinfo {
    color: rgb(220, 14, 48);
  padding: 10px 20px;
  cursor: pointer;
}

.card {
  border: 1px solid #d60e1b;
  border-radius: 30px;
  padding: 15px;
  display: inline-block;
  margin-top: 10px;
}

.card img {
  border-radius: 40%;
}